
.footerContainer {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  margin-top: 4rem; 
}


.capaOscura {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 1;
}


.contenido {
  position: relative;
  z-index: 2;
}

.enlace {
  color: #cccccc;
  text-decoration: none;
  transition: color 0.2s;
}

.enlace:hover {
  color: #ffffff;
  text-decoration: underline;
}