.navPrincipal {
    padding: 20 !important; 
}

.contenedorInterno {
    padding-left: 2cm;
    padding-right: 2cm;
    padding-top: 0;
    padding-bottom: 0;
}
.logo {

    height: 40px;
    border-radius: 5px;
    
}

.librosContenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    user-select: none;
    margin-left: auto;
    margin-right: auto;
}


@media (max-width: 768px) {
    .contenedorInterno {
        padding-left: 0.5cm;
        padding-right: 0.5cm;
    }
    .librosContenedor {
        display: none; 
    }
}